@import url("ag-grid-community/styles/ag-grid.css");
@import url("ag-grid-community/styles/ag-theme-balham.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ag-theme-saturn {
  --ag-background-color: theme(colors.slate.800);
  --ag-header-background-color: theme(colors.slate.900);
  --ag-odd-row-background-color: theme(colors.slate.900);
  --ag-row-hover-color: theme(colors.slate.700);
}

.ag-theme-saturn .ag-tooltip {
  background-color: var(--ag-header-background-color);
  border: 1px solid var(--ag-header-foreground-color);
  @apply max-w-[300px];
}
